@page
@model Repeat.CreateModel

@{
    ViewData["Title"] = "Create";
}

<br />
<h4>Create new set</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Set.Name" class="control-label"></label>
                <input asp-for="Set.Name" class="form-control" />
                <span asp-validation-for="Set.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Set.OwnerID" value="id" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
