@page
@model Repeat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Set</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Set.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Set.Name)
        </dd>
    </dl>
</div>
<div>
    <h6>Questions in this set:</h6>
    <hr />
    <dl class="row">
        @{ int i = 0; }
        @foreach (var questionSet in Model.Set.QuestionSets)
        {
            i++;
            <dt class="col-sm-3">
                <label>Question @i:</label>
            </dt>
            <dd class="col-sm-9">
                <partial name="Questions/_TextPartial" model="@questionSet.Question.QuestionText" />
             </dd>
        }
    </dl>
</div>
<div>
    @{ if (Model.Set.OwnerId == Model.userId)
        {
            <a asp-page="./Edit" asp-route-id="@Model.Set.Id" class="btn btn-warning">Edit</a> <a>|</a>
        }
    }
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>