@page
@model Repeat.IndexModel

@{
    ViewData["Title"] = "Index";
}

<br />
<h4>List of sets</h4>

@await Html.PartialAsync("Questions/_IndexHeaderPartial", "Set name")

@foreach (var item in Model.Set)
{
    <div class="row">
        <div class="col-9 col-md-10 align-self-center">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-3 col-md-2">
            <partial name="Questions/_IndexActionsPartial" model="item.ID" />
        </div>
    </div>
    <hr />
}