@page
@model Repeat.ShareModel

@{
    ViewData["Title"] = "Share";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>Share set</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Set</label>
                <select asp-for="SetId" class="form-control d-inline" asp-items="ViewBag.SetID"></select>
            </div>
            <div class="form-group">
                <label>User</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<h5>Shares:</h5>
<hr />

<div class="row">
    <label class="font-weight-bold col-6">Set</label>
    <label class="font-weight-bold col-4">User</label>
    <label class="font-weight-bold col-2">Edit</label>
</div>

@foreach (var set in Model.Sets)
{
    @foreach (var share in set.Shares)
    {
        <div class="row my-1">
            <div class="col-6">
                @share.Set.Name
            </div>
            <div class="col-4">
                @share.User.UserName
            </div>
            <div class="col-2">
                <form method="post" asp-page-handler="Unshare">
                    <input type="hidden" asp-for="Share.UserId" value="@share.UserId" />
                    <input type="hidden" asp-for="Share.SetId" value="@set.Id" />
                    <input type="submit" value="Unshare" class="btn btn-danger btn-sm" />
                </form>
            </div>
        </div>
    }
}

<div class="mt-3">
    <a asp-page="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}