@page
@model Repeat.ShareModel

@{
    ViewData["Title"] = "Share";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>Share set</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Set</label>
                <select asp-for="SetId" class="form-control d-inline" asp-items="ViewBag.SetID"></select>
            </div>
            <div class="form-group">
                <label>User</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<h5>Shares:</h5>
<hr />
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>
                        <label class="font-weight-bold col-md-4">Set</label>
                    </th>
                    <th>
                        <label class="font-weight-bold col-md-4">User</label>
                    </th>
                    <th>
                        <label class="font-weight-bold col-md-4">Edit</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var set in Model.Sets)
                {
                    @foreach (var share in set.Shares)
                    {
                        <tr>
                            <td class="col-md-4">
                                @share.Set.Name
                            </td>
                            <td class="col-md-4">
                                @share.User.UserName
                            </td>
                            <td class="col-md-4">
                                <form method="post" asp-page-handler="Unshare">
                                    <input type="hidden" asp-for="Share.UserID" value="@share.UserID" />
                                    <input type="hidden" asp-for="Share.SetID" value="@set.ID" />
                                    <input type="submit" value="Unshare" class="btn btn-danger btn-sm" />
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<div>
    <a asp-page="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}