@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Manage questionbank data</h1>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item text-center"><a class="badge">QUESTIONS</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Questions/Index">Show questions</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Questions/Create">Create question</a></li>          
            <li class="nav-item text-center"><a class="badge">CATEGORIES</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Categories/Index">Show categories</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Categories/Create">Create category</a></li>
            <li class="nav-item text-center"><a class="badge">SETS</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Sets/Index">Show sets</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Sets/Create">Create set</a></li>
            <li class="nav-item"><a class="nav-link btn btn-my" asp-page="/Administration/Sets/Share">Share sets</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false);
}