@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/Repeat.png" 
         alt="Repeat"
         class="img-fluid p-5 mb-3" />
    <h3>
        Welcome at repeat.hubertgad.net.
    </h3>
    <h5>
        Use the navigation panel to choose an action.
    </h5>
</div>