@page
@model Repeat.Pages.Administration.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>List of categories</h4>

@await Html.PartialAsync("Questions/_IndexHeaderPartial", "Category name")

@foreach (var item in Model.Categories)
{
    <div class="row">
        <div class="col-9 col-md-10 align-self-center">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="col-3 col-md-2">
            <partial name="Questions/_IndexActionsPartial" model="item.ID" />
        </div>
    </div>
    <hr />
}