@page
@model Repeat.Pages.Administration.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>Question details</h4>
<hr />

<partial name="./_QuestionDetailsPartial" model="Model.Question" />

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id" class="btn btn-warning">Edit</a>
    <span>|</span>
    <a asp-page="Index" class="btn btn-dark">Back to List</a>
</div>