@page
@model Repeat.Pages.Administration.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>List of questions</h4>
<hr />

<div class="">
    <form method="post">
        <div class="input-group mb-3">
            <select asp-for="SelectedCategoryID" asp-items="ViewBag.CategoryID" class="form-control custom-control-inline">
                <option value="" selected disabled>-- Select category --</option>
            </select>
            <select asp-for="SelectedSetID" asp-items="ViewBag.SetID" class="form-control custom-control-inline">
                <option value="" selected disabled>-- Select set --</option>
            </select>
            <div class="input-group-prepend">
                <input type="submit" value="Submit" asp-page-handler="Filter" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
 
@await Html.PartialAsync("Questions/_IndexHeaderPartial", "Question text")

@foreach (var question in Model.Questions)
{
    <div class="row">
        <div class="col-9 col-md-10 align-self-center">
            <partial name="Questions/_TextPartial" model="question.QuestionText" />
        </div>
        <div class="col-3 col-md-2">
            <partial name="Questions/_IndexActionsPartial" model="question.ID" />
        </div>
    </div>
    <hr />
}