@model string

<div class="row">
    <div class="col-9 col-md-10">
        <strong>@Model</strong>
    </div>
    <div class="col-3 col-md-2 text-center">
        <strong>Action</strong>
    </div>
</div>
<hr />