@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<br />
<div>
    <h3>Sorry, registration is currently closed.</h3>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
