@page
@model Repeat.Pages.TakeTest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>Select your test:</h4>

<table class="table">
    <tbody>
@foreach (var set in Model.Sets)
    {
        <tr>
            <td class="col-md-10">
                @Html.DisplayFor(modelItem => set.Name)
            </td>
            <td class="col-md-2">
                <a class="btn btn-nav2" asp-page="./Run" asp-route-id="@set.ID">RUN</a>
            </td>
        </tr>
}
    </tbody>
</table>